/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Reference: https://zmk.dev/docs/keymaps/behaviors/key-press
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    chain-length = <27>;
};

// Define the custom macro
// reference: https://zmk.dev/docs/keymaps/behaviors/macros
/ {
    macros {
        // switch input method
        macos_input: macos_input {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LALT>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LALT>
                , <&macro_release &kp LCTRL>
                ;
        };
        // alt_backspace
        alt_backspace: alt_backspace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LALT>
                ;
        };
        //
        macos_screenshot: macos_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LCTRL>
                , <&macro_release &kp LGUI>
                ;
        };
        //
        macos_screenshot_with_annotation: macos_screenshot_with_annotation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LGUI>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp N4>
                , <&macro_release &kp LSHFT>
                , <&macro_release &kp LGUI>
                ;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | TAB / LALT  |  Q  |  W  |  E   |  R  |  T  |      |  Y  |  U   |  I  |  O  |  P  | BSPC / RALT |
// | ESC / LCTRL |  A  |  S  |  D   |  F  |  G  |      |  H  |  J   |  K  |  L  |  ;  | ' / RCTRL   |
// | LSHFT       |  Z  |  X  |  C   |  V  |  B  |      |  N  |  M   |  ,  |  .  |  /  | RSHFT       |
//                           | LGUI | BSPC / LWR | SHFT |     | ENT / SHFT | SPC / RSE | RGUI |
                        bindings = <
   &mt LALT TAB  &kp Q &kp W  &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &mt RALT BSPC
   &mt LCTRL ESC &kp A &kp S  &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &mt RCTRL SQT
   &kp LSHFT     &kp Z &kp X  &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                       &kp LGUI &lt 1 BSPC &kp LSHFT &mt RSHFT RET &lt 2 SPACE &kp RGUI
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// | ` / LALT |  1    |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |             |
// |           | BTCLR | BT0 | BT1 | BT2 | BT3 |   | LFT | DWN |  UP | RGT |     |             |
// |           |       |     |     |     |     |   |     | macos_screenshot | macos_screenshot_with_annotation |     |     |             |
//                           |     |     |     |   |     | macos_input |   |
                        bindings = <
   &mt LALT GRAVE &kp N1 &kp N2   &kp N3    &kp N4    &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &trans
   &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &trans &trans     &trans       &trans       &trans       &trans         &trans   &macos_screenshot &macos_screenshot_with_annotation &trans    &trans &trans
                          &trans &trans &trans &trans &macos_input &trans
                        >;
                };
                raise_layer {
// -----------------------------------------------------------------------------------------
// | ~ / LALT |   !   |   @   |   #   |   $   |   %   |   |  ^  |  &  |  *  |  (  |  )  |      |
// |          |RGB_TOG|RGB_HUI|RGB_SAI|RGB_VAI|       |   |  -  |  =  |  [  |  ]  |  \  |      |
// |          |RGB_MOD|RGB_HUD|RGB_SAD|RGB_VAD|QK_BOOT|   |  _  |  +  |  {  |  }  | "|" |      |
//                            |       | alt_backspace |       |   |     |     |     |
                        bindings = <
   &mt LALT TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &trans
   &trans    &rgb_ug  RGB_TOG   &rgb_ug RGB_HUI &rgb_ug RGB_SAI   &rgb_ug RGB_BRI   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &trans
   &trans    &rgb_ug RGB_EFF   &rgb_ug RGB_HUD &rgb_ug RGB_SAD   &rgb_ug RGB_BRD   &bootloader      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &trans
                  &trans &alt_backspace &trans &trans &trans &trans
                        >;
                };
        };
};
